.loginpage {
    margin: 30px 400px;
    border: 1px solid black;
    height: 400px;
    padding: 60px;
    text-align: left;
    background-color: teal;
    border-radius: 15px;
}
.loginname{
    font-size: 50px;
}
.submitt {
    color: black;
    background-color: white;
    /* border: 1px solid white; */
    width: 90px;
    border-radius: 5px;
    margin-left: 370px;
    height: 40px;
}

.submitt:hover {
    color: white;
    background-color: black;
}